# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [26]:
num_0 = 2
print(num_0)

2

##### Assinging float

In [34]:
numberFloat = 76
print(numberFloat)
number_Float = 54.2

76

#### Performing Calculations on ints and floats

##### Addition

In [42]:
num_1 = 2000
num_2 = 8
answer = num_1 + num_2

print(answer)

2008

##### Subtraction

In [50]:
minus = num_1 - num_2
print(minus)

1992

##### Multiplication

In [66]:
multiplication = num_1 * num_2
print(multiplication)

16000

##### Division

In [75]:
division = num_2/num_1
print(division)

0.004

##### Floor Division

In [83]:
floor = num_2 // num_1
print(floor)

0

##### Modulo

In [91]:
percent = num_2 % num_1
print(percent)

8

##### Exponential

In [99]:
exponent = 10 ** 7
print(exponent)

10000000

### String Input-Output

##### String Assignment

In [107]:
name = "me"
print(name)

me

##### print() <br>
<p>Don't forget about end=' '</p>

In [115]:
print("This is my first name: ", name)
print("Full Name: ", name, end=" Carter")

This is my first name:  me
Full Name:  me Carter

##### String Concatenation

In [123]:
first_name = "Goku"
last_name = "the best"
full_name = first_name + " " + last_name
print(full_name)

Goku the best

##### Type Conversion

In [131]:
integer = "23"
integer_change = int(integer)
print(integer)
 #or 
print(integer_change)

23
23

##### input()

In [147]:
question  = input("Who are you")
answer = ("I am mont")
print(answer)
print(question)

I am mont
Mont

##### format()

In [171]:
question = input("How old are you? ")
correct_string = "You are {} {} and you are getting wiser!".format(question,name)
print(correct_string)

result_again = f"{question} is old"
print(result_again)

You are 30 me and you are getting wiser!
30 is old

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [179]:
name = input("What is your name?: ")
color = input("What color is your car?: ")
year = input("What year is your car?: ")
model = input("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

Lamonte, your 2006 honda's color is grey

### If Statements

In [194]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


number_1 = 5
number_2 = 10

if number_2 == number_1:
    print('Equal Values')
else:
    print("Not Equal")
    
if number_2 >= number_1:
    print("Number_2 is greater")
elif number_1 <= number_2:
    print("Number_1 is less than")

Not Equal
Number_2 is greater

##### 'is' keyword

In [208]:
number = 30
if number is 30:
    print("The number is")

#I dont know why i get a error

The number is

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\user\AppData\Local\Temp\ipykernel_13768\345685260.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if number is 30:

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [215]:
street=input("Where do you live?")
result_string = "You live on {} street.".format(street)
print(result_string)

if 'p' not in street:
    print("p is NOT here...")

You live on dinwiddie street.
p is NOT here...

## Using 'and'/'or' with If Statements

In [222]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")

True and True

### Elif Statements

In [229]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [230]:
# see above

### For Loops

In [236]:
name = "Joel Carter"

for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [237]:
# see above

##### Continue Statement

In [238]:
# will continue to next iteration

In [242]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [243]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [244]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [246]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [248]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [250]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [252]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [254]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [256]:
name = "Max "

length = len(name)
print(length)

4

##### help()

##### isinstance()

In [258]:
print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

### Try and Except

In [260]:
try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

Your Number is: 23

### Lists

##### Declaring Lists

In [263]:
l_1 = [] # Empty List Declaration

names = ['Max','Cindy','Kathy', "bob","Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

##### .append()

In [264]:
names.append('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Joel']

##### .insert()

In [266]:
names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Joel']

##### .pop()

In [270]:
print(names.pop(2))

Gabby


##### .remove()

In [273]:
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Nate', 'Joel']

##### del()

In [275]:
del(names[1])
print(names)

['Max', 'Nate', 'Joel']

##### Concatenating Two Lists

In [277]:
l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [279]:
names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [281]:
for i in range(len(names)):
    print(names[i])

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [282]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>